* {
    margin: 0;
    padding: 0;


}
body {
    background: url(../img/fond0.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;

    

}
.contenedor-form{
    position: relative;
    top: 150px;
    background: rgba(0, 0,0, .6);
    widows: 100px;
    max-width: 500px;
    margin: 48px auto;
    color: white ;
    border-radius: 7px;
    /*padding: 40px;*/
}
.contenedor-form .toggle{
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    transition: all .5s ease;
    cursor: pointer;
    
    


}
.contenedor-form .toggle span{

    letter-spacing: 0px;
    text-align: none;
    margin: auto;
}
.contenedor-form .toggle:hover{
   color: teal;

}
.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{

    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    background: rgba(0, 0,0, .6);
    color: white;
    border: none;
    border-radius: 3px;
    border-bottom: 4px solid #999999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
 
}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
    border-bottom: 4px solid #0075d9;
}
.contenedor-form input[type="submit"]{
    background: #1a1918;
    color: white;
    border: none;
    border-radius: 20px;
    width: 50%;
    padding: 10px 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    cursor: pointer;
    transition: all .9s ease;
    margin: auto;
    display: block;

padi
}
.contenedor-form input[type="submit"]:hover{
    background: rgba(0, 117,217, 0.70);

}
.contenedor-form .reset-password{
    background: rgba(0, 117,217, 0.20);
    color: white;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: auto;
    display: block;
    text-decoration-line: underline;
    
    


}
.contenedor-form .reset-password a{
    color: white;
    text-decoration: none;
    font-size: 10px;

}
.contenedor-form .formulario{
    padding: 40px;
    display: none;
}
.contenedor-form .formulario:nth-child(2){
    display: block;
}